.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0f172a, #020617);
  color: white;
}

.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  backdrop-filter: blur(10px);
}

.login-box h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.login-box p {
  opacity: 0.7;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.login-box button:hover {
  background: #2563eb;
}