body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #6ee7ff;
}

h2 {
  color: #b388ff;
}

button {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(90deg, #00d4ff, #7b2cff);
  color: white;
}
